html,
body {
    padding: 0;
    margin: 0;
}

section {
    height: 600vh;
}

.container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-img {
    width: 500px;
    visibility: hidden;
}

/* Utilities */
.full-width {
    width: 100%;
}

.full-viewport-height {
    height: 100vh;
}